<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <ion-item-sliding>
        <div class="players" ng-repeat="player in players">
          <div class="players" ng-repeat="individual in player" | sortby: "Position">
            <ion-item>
                <ion-avatar item-start>
                <img ng-src="{{individual.PhotoUrl}}" style="width: 64px; height: 64px">
              <p>
                {{individual.Name}} | {{individual.Team}} | {{individual.Position}} | {{individual.ProjectedFantasyPoints}}  (Projected Fantasy Points)
              </p>
            </ion-avatar>
            <ion-item-options side="left">
              <button ion-button color="primary">
        <ion-icon name="addPlayer"></ion-icon>
        Add
      </button>
            </ion-item-options>
            <ion-item-options side="right">
              <button ion-button color="secondary">
        <ion-icon name="playerDetails"></ion-icon>
        Stats
      </button>
            </ion-item-options>
          </ion-item>
      </ion-item-sliding>
    </ion-list>
  </ion-content>
</ion-view>
